# Ignore build artifacts
*~
*.lo
*.o
*.la
Makefile.in
Makefile
*autom4te.cache*
*.class
*.deps
*.libs
*.done
*.spec
*.pc
MPF/mpf-core/docs/**/*
test*pipe
MPF/tools/mpf-template/tools/*.sh
aclocal.m4
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure.ac
l*.m4
libtool
ltmain.sh
install-sh
INSTALL
configure
mpf-core.pc
mpf-core.spec
mpf-core-uninstalled.pc
mpf-core-decl*
mpf-core-scan*
missing
stamp-h1
gtk-doc.m4
gtk-doc.make
depcomp
MPF/target
MPF/junit_results
*.out
*.err